@layer components {
  .listboxItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .status-badge-approved {
    @apply bg-green-100 text-green-800 dark:bg-green-900/40 dark:text-green-300;
  }
  .status-badge-denied {
    @apply bg-red-100 text-red-800 dark:bg-red-900/40 dark:text-red-300;
  }
  .status-badge-pending {
    @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900/40 dark:text-yellow-300;
  }
  .low-stock {
    @apply bg-red-100 text-red-800 dark:bg-red-900/40 dark:text-red-300;
  }
  .high-stock {
    @apply bg-emerald-100 text-emerald-800 dark:bg-emerald-900/40 dark:text-emerald-300;
  }
}

/* For anything that we would need two colors for light/dark we put here */
@layer base {
  /* -------------------- MAIN COLORS -------------------- */
  :root {
    --background: oklch(96.7% 0.003 264.542);
    --foreground: oklch(20.33% 0.0604 251.77);

    --sidebar: oklch(20.33% 0.0604 251.77);
    --sidebar-foreground: oklch(95.37% 0.0211 252.5);

    --navbar: oklch(100% 0 0);
    --navbar-foreground: oklch(20.33% 0.0604 251.77);
    --navbar-icon: oklch(14.39% 0.054 252.01);
  }

  /* ---------------- DARK MODE VARIATIONS ---------------- */
  .dark {
    --background: oklch(12.72% 0.006 286.37);
    --foreground: oklch(98.51% 0.002 247.84);

    --sidebar: oklch(17.44% 0.008 285.8);
    --sidebar-foreground: oklch(98.51% 0.002 247.84);

    --navbar: oklch(16.03% 0.006 285.9);
    --navbar-foreground: oklch(98.51% 0.002 247.84);
    --navbar-icon: oklch(98.51% 0.002 247.84);
  }
}

/* Here we import the colors above, and any extra colors that dont need light/dark mode */
@theme {
  /* ------------------- EXPORT COLORS  ------------------- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-navbar-icon: var(--navbar-icon);
}
